# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
*.pkl

# Obsidian
.obsidian/


# Misc
prompt.txt
todo.md

# Test files 
compile_test.py
run_import.ps1


# Tex files
*.aux
*.pdf
*.toc


# Temp files
*.mtc*
*.maf

# Build Artifacts Folder 
build_artifacts/

# Output files 
*.pdf


# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints


# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/


# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

